node_modules/
.env
*.log
.DS_Store
Thumbs.db
dist/
build/
coverage/
.nyc_output/
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
npm-shrinkwrap.json
package-lock.json
*.tgz
.yarn-integrity
.lock-wscript
.yarnrc.yml
pids/
*.pid
*.seed
*.pid.lock
logs/
*.log
__debug_crashes/
lib-cov/
coverage/
.tap/
junit.xml
*.cc.xml
config.gypi
node_modules/
.cache/
.nuxt
.output/
dist/
.next
out/
.npm/
.yarn/
bower_components/
jspm_packages/
app/bower_components/
jspm_packages/
web/assets/libraries/*
*.min.js
*.min.css
.env
.env.backup
secret/
secrets/
private/
certs/
keys/
*.key
*.pem
*.crt
*.cert
*.p12
*.pfx
*.p10
*.csr
*.kubeconfig
*.kube/config
*.docker/config.json
*.aws/credentials
*.firebase/token
*.netrc
*.ssh/
*.gnupg/
*.mozilla/firefox/
*.chrome/Default/Extensions/
*.local/share/keyrings/
*.local/share/passwords/
*.config/google-chrome/
*.config/chromium/
*.config/BraveSoftware/
*.config/microsoft-edge-dev-tools/
*.vscode/extensions.json
*.vscode/settings.json
*.vscode/launch.json
*.vscode/tasks.json
*.vscode/recommendations.json
*.vscode/extensions.json
*.vscode/settings.json
*.vscode/launch.json
*.vscode/tasks.json
*.vscode/recommendations.json
*.vscode/state.vscdb
*.vscode/state.vscdb.backup
*.vscode/vscode-defaults.json
*.vscode/vscode-defaults.json
*.vscode-insiders/
*.vscode-server/
*.vscode-test/
*.vscode-oss-dev/
*.vscode-recovery/
*.Code/
*.Code\ -\ Insiders/
*.sublime-project
*.sublime-workspace
*.atom/config.cson
*.atom/packages/
*.atom/storage/
*.atom/state/
*.atom/snippets/
*.atom/stylesheets/
*.atom/init.coffee
*.atom/init.js
*.atom/keymap.cson
*.atom/keymap.json
*.atom/menu.cson
*.atom/styles.less
*.atom/snippets.cson
*.atom/snippets.json
*.atom/autocomplete-plus/
*.atom/autosave/
*.atom/bookmarks/
*.atom/bracket-matcher/
*.atom/command-palette/
*.atom/deprecation-cop/
*.atom/dev-live-reload/
*.atom/editor-stats/
*.atom/find-and-replace/
*.atom/grammar-selector/
*.atom/image-view/
*.atom/incompatible-packages/
*.atom/keybinding-resolver/
*.atom/language-c/
*.atom/language-clojure/
*.atom/language-coffee-script/
*.atom/language-csharp/
*.atom/language-css/
*.atom/language-gfm/
*.atom/language-git/
*.atom/language-go/
*.atom/language-html/
*.atom/language-hyperlink/
*.atom/language-java/
*.atom/language-javascript/
*.atom/language-json/
*.atom/language-less/
*.atom/language-make/
*.atom/language-mustache/
*.atom/language-objective-c/
*.atom/language-perl/
*.atom/language-php/
*.atom/language-property-list/
*.atom/language-python/
*.atom/language-ruby/
*.atom/language-ruby-on-rails/
*.atom/language-sass/
*.atom/language-shellscript/
*.atom/language-source/
*.atom/language-sql/
*.atom/language-text/
*.atom/language-todo/
*.atom/language-toml/
*.atom/language-xml/
*.atom/language-yaml/
*.atom/link/
*.atom/markdown-preview/
*.atom/navigator/
*.atom/one-dark-syntax/
*.atom/one-dark-ui/
*.atom/open-on-github/
*.atom/package-generator/
*.atom/settings-view/
*.atom/snippets/
*.atom/spell-check/
*.atom/status-bar/
*.atom/styleguide/
*.atom/symbols-view/
*.atom/tabs/
*.atom/timecop/
*.atom/toolbar/
*.atom/tree-view/
*.atom/update-package-dependencies/
*.atom/welcome/
*.atom/whitespace/
*.atom/wrap-guide/
*.atom/x-ray/
*.atom/activate-power-mode/
*.vimrc
*.gvimrc
*.exrc
*.vim/
*.emacs.d/
*.emacs
*.spacemacs
*.doom.d/
*.config/nvim/
*.config/alacritty/
*.config/bspwm/
*.config/conky/
*.config/dunst/
*.config/gtk-3.0/
*.config/i3/
*.config/kitty/
*.config/lf/
*.config/nvim/
*.config/polybar/
*.config/rofi/
*.config/sway/
*.config/termite/
*.config/thefuck/
*.config/zathura/
*.config/zsh/
*.oh-my-zsh/
*.zsh_history
*.bash_history
*.fish_history
*.mysql_history
*.psql_history
*.sqlite_history
*.gem/ruby/
*.rbenv/
*.rvm/
*.rbenv-version
*.ruby-version
*.rvmrc
*.gemspec
*.bundle/
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-hooks/
*.rbenv.d/
*.rvm/
*.rvmrc
*.ruby-gemset
*.ruby-version
*.rbenv-default-gems
*.rbenv-whitelist
*.rbenv-version-file
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file
*.rbenv-whitelist
*.rbenv-hooks
*.rbenv.d
*.rbenv-vars
*.rbenv-gemsets
*.rbenv-version-file